/*------body elements------*/
body {
    padding-right: 35px;
    background-color: hsl(203, 84%, 90%);
    color: #00245D;
    font-family: "Exo", Georgia, sans-serif;
}
/*------navbar elements------*/
.navbar {
    padding:0;
    background: #00245D;
    border-color: #00245D;
    font-family: "Exo", Georgia, sans-serif;
}
a.navbar-brand{
    font-size: 2.25rem;
    padding-left: 25px;
}
/*------Header------*/
h1{
    margin-left: 25px;
}
/*------button elements------*/
.btn {
    color: whitesmoke;
    background: #00245D;
    border-color: #00245D;
  /*font-weight: lighter;*/
}


.btn-primary:active, .btn-primary.active {

    border-color: #245580;
    background: #00245D;
}

.btn-primary:hover{
    background:#337ab7;
}

#img-button{
    margin-left: 25px;
}
/*------list of images------*/
ul#images li {
    display: inline-grid;
    margin: 15px 0 20px;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 1s ease;
}
ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}
ul#images li button {
    display: inline-block;
}
ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: rgba(78, 78, 69, 0.82);
    width: 100%;
    margin: 0em;
}
/*------modal images------*/
.modal-body img {
    width: 100%;
    height: auto;
}
hr {
    clear:both;
}

ul {
    position:relative;
    list-style-type:none;
}
@media only screen and (max-width: 2000px) and (min-width: 721px){
    ul#images li img {
        display: inline-block;
        width: 100%;
        height: auto;
        column-count: 4;
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */

    }
}



@media only screen and (max-width: 720px) and (min-width: 320px){
    ul#images li img {
        display: inline-block;
        width: 100%;
        height: auto;
        column-count: 12;
        -webkit-column-count: 12; /* Chrome, Safari, Opera */
        -moz-column-count: 12; /* Firefox */

    }
}

