/*------body elements------*/
body {
  background-color: hsl(203, 84%, 90%);
  color: #00245d;
  font-family: 'Exo', Georgia, sans-serif;
}
.container {
  padding: 1%;
}
/*------navbar elements------*/
.navbar {
  background: #00245d;
  font-family: 'Exo', Georgia, sans-serif;
}
a.navbar-brand {
  font-size: 2.5rem;
  padding-left: 1%x;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
  display: none;
}

/*------Header------*/
h1 {
  margin-left: 1%;
}
h1.search-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 3%;
}
/*------button elements------*/
.btn {
  color: whitesmoke;
  background: #00245d;
  border-color: #609af4;
}
.btn-primary:active,
.btn-primary.active {
  border-color: #245580;
  background: #00245d;
}

.btn-primary:hover {
  background: #337ab7;
}

#img-button {
  margin-left: 2%;
  margin-bottom: 1rem;
}
/*------list of images------*/
ul#images li {
  display: inline-grid;
  margin: 0.5rem;
  padding: 0.75rem;
  transition: 1s ease;
}
ul#images li img {
  display: inline-block;
}
ul#images li button {
  display: inline-block;
}
ul#images {
  list-style-type: none;
}

ul#images .placeholder {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: rgba(78, 78, 69, 0.82);
}
/*------modal images------*/
.modal-content {
  margin-top: 23rem;
  background-color: hsl(203, 84%, 90%);
}
/*----------footer----------*/
footer {
  text-align: center;
}
.scroll {
  overflow: scroll;
  border: 1px outset #00245d;
  border-top: 20px ridge #00609f;
  border-bottom: 20px ridge #00609f;
  border-right: 10px ridge #00609f;
  border-left: 10px ridge #00609f;
  height: 65vh;
}

@media only screen and (max-width: 720px) and (min-width: 300px) {
  h1.search-title {
    font-size: 2em;
    margin-top: 12rem;
    text-align: center;
  }
  .scroll {
    margin-bottom: 1rem;
    height: 50vh;
  }
  ul#images li {
    margin-left: 0rem;
  }
  ul#images .placeholder {
    display: flex;
    justify-content: center;
  }
}
